{{/*
  Template: /layouts/reviews/list.html
  Purpose: Shows posts tagged with the category from URL
  Example URLs: /reviews/dumbphones/, /reviews/companion-devices/
*/}}

{{ define "main" }}
<div class="archive">
  {{ $segments := split .RelPermalink "/" }}
  {{ $cat := index $segments 2 }}

  {{/* Determine icon and title based on category */}}
  {{ $reviewCat := "" }}
  {{ $icon := "" }}
  {{ if eq $cat "dumbphones" }}
    {{ $reviewCat = "Dumbphone Reviews" }}
    {{ $icon = "fa-solid fa-phone" }}
  {{ else if eq $cat "companion-devices" }}
    {{ $reviewCat = "Companion Device Reviews" }}
    {{ $icon = "fa-laptop" }}
  {{ else if eq $cat "auxiliary-devices" }}
    {{ $reviewCat = "Auxiliary Device Reviews" }}
    {{ $icon = "fa-solid fa-screwdriver-wrench" }}
  {{ else if eq $cat "analog-tools" }}
    {{ $reviewCat = "Analog Tools Reviews" }}
    {{ $icon = "fa-solid fa-book-open" }}
  {{ else if eq $cat "software" }}
    {{ $reviewCat = "Software Reviews" }}
    {{ $icon = "fa-code" }}
  {{ end }}

  <h2 class="p-name"><i class="fa-solid {{ $icon }}"></i>{{ $reviewCat }}</h2>

  {{/* Filter posts that have this category tag */}}
  {{ $all := .Site.RegularPages }}
  {{ $list := where $all "Params.categories" "intersect" (slice $cat) }}

  {{ if gt (len $list) 0 }}
    <div class="posts h-feed">
      {{ range $list }}
        <div class="post-preview h-entry">
          <a href="{{ .Permalink }}" class="post-date u-url">
            <i class="fa-regular fa-calendar"></i>
            <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
          </a>
          <h3 class="post-title p-name"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
          <div class="p-summary">{{ .Summary }}</div>
        </div>
      {{ end }}
    </div>
  {{ else }}
    <p>No posts found in this category.</p>
  {{ end }}
</div>
{{ end }}
