{{/*
  Template: /layouts/partials/microhook-navigation.html
  Purpose: Main site navigation menu.

  Provides access to all major sections: Welcome, Guides, Reviews, Also, Archive.
  Icons provide visual distinction for each section.
*/}}

<nav>
  <ul>
    <li><a href="/welcome/"><i class="fa-solid fa-handshake-simple"></i>Welcome</a></li>
    <li><a href="/guides/"><i class="fa-solid fa-compass"></i>Guides</a></li>
    <li><a href="/reviews/"><i class="fa-solid fa-star"></i>Reviews</a></li>
    <li><a href="/also/"><i class="fa-solid fa-asterisk"></i>Also</a></li>
    <li><a href="/archive/"><i class="fa-solid fa-box-archive"></i>Archive</a></li>
  </ul>
</nav>
